.fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.fab button {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #0d6efd;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    font-size: 24px;
    color: white;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab button:focus {
    outline: none;
}

.fab button.main {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #0d6efd;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.bg-white {
    background-color: white;
  }
  